@using ToucheTools.Web.Services
@inject IModelStorageService _modelStorageService
@{
    string sessionId = "";
    if (Context.Request.Query.TryGetValue("id", out var val))
    {
        sessionId = val[0];
    }
    bool loggedIn = false;
    ModelContainer? container = null;
    string initialFilename = "";
    Dictionary<string, string> routeData = new Dictionary<string, string>();
    if (!string.IsNullOrEmpty(sessionId))
    {
        loggedIn = _modelStorageService.TryGetModels(sessionId, out container);
        if (!loggedIn)
        {
            sessionId = "";
        }
        else
        {
            initialFilename = container.InitialFilename;
            routeData["id"] = sessionId;
        }
    }
}

<div>
    <h1 class="display-4">What is this?</h1>
    <p>This application is used for viewing, <span style="text-decoration: line-through;">editing, and saving</span> 
        DAT files for the game
        <a href="https://en.wikipedia.org/wiki/Touch%C3%A9:_The_Adventures_of_the_Fifth_Musketeer">
            Touché: The Adventures of the Fifth Musketeer</a>. 
        These files should be playable in the game after the fact, either in the original or
        <a href="https://wiki.scummvm.org/index.php/Touch%C3%A9:_The_Adventures_of_the_Fifth_Musketeer">
            in ScummVM</a>.
    </p>
    <p>This is a free, open-source project. Please see the <a href="#">repository here</a>.</p>
</div>

<div>
    <h1 class="display-4">Upload DAT</h1>
    <p>If you have a DAT file (the original game's TOUCHE.DAT or a custom one), upload it here in order
        to view the contents.</p>
    <form asp-area="" asp-controller="Home" asp-action="UploadDat" asp-all-route-data="routeData" enctype="multipart/form-data" method="post">
        <div class="row mb-3">
            <div class="col-8">
                <input class="form-control" type="file" id="formFile" name="datFile">
                <span class="text-danger"></span>
            </div>
            <div class="d-grid col-4">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
</div>

@{
    if (loggedIn)
    {
        <div class="row">
            <div class="col-2 card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Programs</h5>
                    <p class="card-text">
                        <ul class="list-unstyled">
                            <li>
                                <span class="fw-bold">@container.DatabaseModel.Programs.Count</span>
                                Parsed
                            </li>
                            <li class="text-danger">
                                <span class="fw-bold">@container.DatabaseModel.FailedPrograms.Count</span>
                                Invalid
                            </li>
                        </ul>
                    <a asp-area="" asp-controller="Home" asp-action="GetPrograms" asp-all-route-data="routeData" class="card-img-overlay"></a>
                </div>
            </div>
        </div>
    }
}