@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">What is this?</h1>
    <p>This application is used for viewing, <span style="text-decoration: line-through;">editing, and saving</span> 
        DAT files for the game
        <a href="https://en.wikipedia.org/wiki/Touch%C3%A9:_The_Adventures_of_the_Fifth_Musketeer">
            Touché: The Adventures of the Fifth Musketeer</a>. 
        These files should be playable in the game after the fact, either in the original or
        <a href="https://wiki.scummvm.org/index.php/Touch%C3%A9:_The_Adventures_of_the_Fifth_Musketeer">
            in ScummVM</a>.
    </p>
    <p>This is a free, open-source project. Please see the <a href="#">repository here</a>.</p>
</div>